* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}

.logo {
    width: 4rem;
    margin-left: 5rem;
}

.navbar {
    display: flex;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08) !important;
    height: 5rem;
    width: 100%;
    background-color: #000000;
}
nav.abajo{
    background-color: #000000 ;
}
nav.abajo .nav-item a{
   color: #000000;
}
.navbar a{
    color: #fff !important;
    text-decoration: none;
}
main {
    min-height: 40rem;
}

footer {
    background-color: rgb(231, 157, 45);
    margin-top: 3rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

body{
    font-family: none !important;
}
.logo-footer {
    width: 2.5rem;
    margin-left: 1rem;
}
.nav-link{
    border-radius: 20px ;
}

.collapse {
    flex-grow: 0 !important;
    margin-right: 3rem !important;
}

.nav-item {
    padding-right: 2rem !important;
    padding-left: 3rem !important;
}

.material-symbols-outlined {
    color: rgb(231, 157, 45);
    font-size: 2rem !important;
}

.texto-uno {
    width: 28rem;
    font-size: 2rem;
    font-family: 'Passion One', cursive;
    color: rgb(231, 157, 45);
}

.texto-dos {
    width: 30rem;
}

.texto {
    margin-left: 9rem;
    margin-top: 11rem;
}
.card5 {
    box-sizing: border-box;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    border-radius: 30px !important;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    user-select: none;
    font-weight: bolder;
}

.card5:hover {
    border: 1px solid black;
    transform: scale(1);
}
.card5:hover {
    border-color: rgb(231, 157, 45);
}

.card5:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
}


.img-fondo {
    height: 22rem;
    object-position: center;
    margin-top: 3rem;
    width: 100%;
}

.dog {
    width: 100%;
    margin-bottom: 6rem;
    color: rgb(231, 157, 45);
}

.card5 {
    width: 18rem;
    height: 26rem;
}

.card-details {
    height: 100%;
    display: grid;
    place-content: center;
}

.card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: rgb(231, 157, 45);
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
}

.text-title {
    font-size: 1.5em;
    font-weight: bold;
}
.main {
    display: flex;
}

.carta-flex {
   width: 100%;
   height: 100%;
   margin-top: 5rem;
}
.carta{
    display: flex;
    justify-content: space-evenly;
}
.main a{
    text-decoration: none;
    color: white !important;
}
/* check----------------- */
.check{
    display: flex;
    justify-content: space-evenly;
    width: 15rem;
    height: 20rem;
    margin-top: 5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08) !important;
}


h2{
    font-family: 'Passion One', cursive;
    font-size: 2rem;
    color: rgb(231, 157, 45);
}
form{
    display: flex;
    flex-direction: column;
}
label{
    margin-left: 1rem;
    width: 9rem; 
    margin-top: 1rem;
}

.nav-link:hover{
    background-color: rgb(231, 157, 45) !important;
}
.todo{
    display: flex;
}
.hola{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    width: 100%;
}
/* store------------------------------------------------------------- */

.carrosel {
    width: 85%;
    margin-top: 2rem;
    min-height: 13rem;
    margin-left: 6.5rem;
    display: flex;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08) !important;
    border-radius: 20px;
}

.img-carrosel {
    border-radius: 20px;
    width: 9rem;
    height: 8rem;
    margin-top: 2.5rem;
    margin-left: .8rem;
    flex: 1;
    transition: .4s all ease;
    object-fit: cover;
    margin-right: 1rem;
}
.img-carrosel:hover{
    flex: 1.4; 
}
.hola2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.text-error{
    width: 100%;
    margin-top: 1rem;
}
  .wrapper {
    display: flex;
    height: 3rem;
    margin-bottom:1.3rem;
    width: 100%;
    font-family: "Poppins", sans-serif;
    justify-content: center;
  }
  ol, ul{
    padding-left: 0 !important;
  }
  .wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    left: 0 !important;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #fff;
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #2cbfd5;
    color: #fff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: #E4405F;
    color: #fff;
  }
  .wrapper .Whatsapp:hover,
  .wrapper .Whatsapp:hover .tooltip,
  .wrapper .Whatsapp:hover .tooltip::before {
    background: #40e48d;
    color: #fff;
  }
  
  
  .card-detalles{
    width: 50rem !important;
    min-height: 16rem;
    margin-left: 22%;
    margin-top: 5%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08) !important;
  }
  .card-title{
    font-family: 'Passion One', cursive;
  }
  




@media(min-width:1024px) and (max-width:1439px) {
    .main {
        flex-direction: column;
    }
    .texto {
        margin-left: 19rem;
        margin-top: 11rem;
    }
    footer {
        margin-top: 5rem;
    }
    .card-detalles{
        margin-left: 10%;
      }
}

@media(min-width:768px) and (max-width:1023px) {
    .main {
        flex-direction: column;
    }
    .texto {
        margin-left: 10rem;
        margin-top: 11rem;
    }
    .card-2{
        min-height: 36rem !important;
    }
    .material-symbols-outlined {
        padding-top: 0.5rem;
    }
    a {
        margin-top: 0.7rem;
        width: 4rem;
    }
    .nav-item {
        padding-left: 0rem !important;
    }
    .carrosel{
        display: none;
    }
    .todo{
        flex-direction: column;
    }
    .fancy::before {

     width: 0rem;
    }
       
    .fancy .text {
        margin-left:-2.2em;
    
    }
    
    .card-info2 {
        padding-top: 0% !important;
        min-height: 7rem ; 
        
    }
    .card-detalles{
        width: 40rem !important;
        margin-left: 7%;
        margin-top: 30%;
      }
      main{
        min-height: 0rem !important;
      }
}

@media(min-width:425px) and (max-width:767px) {
    .logo {
        margin-left: 0rem;
        margin-right: 2rem;
    }
    .texto-uno {
        width: 19rem;
        font-size: 2rem;
    }
    .texto-dos {
        width: 19rem;
    }
    .texto {
        margin-left: 4rem;
        margin-top: 14rem;
    }
    .material-symbols-outlined {
        padding-top: 0.5rem;
    }
    .main {
        flex-direction: column;
    }
    .logo-footer {
        margin: 2px;
    }
    .carta{
        flex-direction: column;
        margin-left: 15%;
    }
    .card5{
        margin-top: 4rem;
    }
    a {
        margin-top: 0.7rem;
        width: 4rem;
    }
    .nav-item {
        padding-left: 0rem !important;
    }
    .carrosel{
        display: none;
    }
    .todo{
        flex-direction: column;
    }
    
    .fancy::before {
     width: 0rem;
    } 
    .fancy .text {
        margin-left:-2.2em;
    }
    .padre-check{
        display: flex;
        justify-content: space-evenly;
    }
    .card-detalles{
        width: 20rem !important;
        margin-left: 7%;
        margin-top: 60%;
      }
}

@media(min-width:375px) and (max-width:424px) {
    .logo {
        margin-left: 0rem;
        margin-right: 2rem;
    }
    .texto-uno {
        width: 19rem;
        font-size: 2rem;
    }
    .texto-dos {
        width: 19rem;
    }
    .texto {
        margin-left: 2.4rem;
        margin-top: 14rem;
    }
    .material-symbols-outlined {
        padding-top: 0.5rem;
    }
    .main {
        flex-direction: column;
    }
    .logo-footer {
        margin: 2px;
    }
    .petcare {
        margin-left: 8rem;
    }
    .carta{
        flex-direction: column;
        margin-left: 12%;
    }
    .card5{
        margin-top: 4rem;
    }
    a {
        margin-top: 0.7rem;
        width: 4rem;
    }
    .nav-item {
        padding-left: 0rem !important;
    }

    .carrosel{
        display: none;
    }
    .todo{
        flex-direction: column;
    }
    .fancy::before {
     width: 0rem;
    }  
    .fancy .text {
        margin-left:-2.2em;
    }
    .padre-check{
        display: flex;
        justify-content: space-evenly;
    }
    .card-detalles{
        width: 20rem !important;
        margin-left: 7%;
        margin-top: 60%;
      }
}

@media(min-width:320px) and (max-width:374px) {
    
    .navbar{
        width: 100%
    }
    .padre-check{
        display: flex;
        justify-content: center;
    }
    .logo {
        margin-left: 0rem;
    }
    .texto-uno {
        width: 19rem;
        font-size: 2rem;
    }
    .texto-dos {
        width: 19rem;
    }
    .texto {
        margin-left: 0.5rem;
        margin-top: 14rem;
    }
    .material-symbols-outlined {
        padding-top: 0.5rem;
    }
    .main {
        flex-direction: column;
    }
    .logo-footer {
        margin: 2px;
    }
    .carta{
        flex-direction: column;
        margin-left: 5%;
    }
    .card5{
        margin-top: 4rem;
    }
    
    a {
        margin-top: 0.7rem;
        width: 4rem;
    }
    .nav-item {
        padding-left: 0rem !important;
    }
    .carrosel{
        display: none;
    }
    .todo{
        flex-direction: column;
    }
    .fancy .text {
        margin-left:-2.2em;
    }
    .card-detalles{
        width: 20rem !important;
        margin-left: 0%;
        margin-top: 60%;
      }   
}
